### Import packages

In [1]:
import warnings
warnings.filterwarnings('ignore')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np

### Problem summary

There are 2 main datasets that contain a list of unique credit cards and the target variable to predict:
- *Train.csv*
- *Test.csv*

Then, there are 2 datasets that contain information about all transactions of these cards buying from different merchants:
- *historical_transactions.csv*
- *new_merchant_transactions.csv*

Lastly, there is 1 dataset that contains information about the merchants:
- *merchants.csv*

Basically, this notebook explores all these datasets and their connections.

### merchants.csv

In [2]:
merchants = pd.read_csv('Data/merchants.csv')

In [3]:
print("Nº of observations and features:")
merchants.shape
print("First observations:")
merchants.head()
print("Python features dtypes:")
merchants.dtypes
print("Unique values by features:")
merchants.nunique(dropna=False,axis=0)
print("Missing values by features:")
merchants.isnull().sum(axis=0)

Nº of observations and features:

(334696, 22)

First observations:

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
0,M_ID_838061e48c,8353,792,9,-0.057471,-0.057471,N,E,E,-0.40,...,-2.25,18.666667,6,-2.32,13.916667,12,N,242,9,1.0
1,M_ID_9339d880ad,3184,840,20,-0.057471,-0.057471,N,E,E,-0.72,...,-0.74,1.291667,6,-0.57,1.687500,12,N,22,16,1.0
2,M_ID_e726bbae1e,447,690,1,-0.057471,-0.057471,N,E,E,-82.13,...,-82.13,260.000000,2,-82.13,260.000000,2,N,-1,5,5.0
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,4.666667,6,NaN,3.833333,12,Y,-1,-1,NaN
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,0.361111,6,NaN,0.347222,12,Y,-1,-1,NaN

Python features dtypes:

merchant_id                     object
merchant_group_id                int64
merchant_category_id             int64
subsector_id                     int64
numerical_1                    float64
numerical_2                    float64
category_1                      object
most_recent_sales_range         object
most_recent_purchases_range     object
avg_sales_lag3                 float64
avg_purchases_lag3             float64
active_months_lag3               int64
avg_sales_lag6                 float64
avg_purchases_lag6             float64
active_months_lag6               int64
avg_sales_lag12                float64
avg_purchases_lag12            float64
active_months_lag12              int64
category_4                      object
city_id                          int64
state_id                         int64
category_2                     float64
dtype: object

Unique values by features:

merchant_id                    334633
merchant_group_id              109391
merchant_category_id              324
subsector_id                       41
numerical_1                       954
numerical_2                       947
category_1                          2
most_recent_sales_range             5
most_recent_purchases_range         5
avg_sales_lag3                   3373
avg_purchases_lag3             100003
active_months_lag3                  3
avg_sales_lag6                   4508
avg_purchases_lag6             135202
active_months_lag6                  6
avg_sales_lag12                  5010
avg_purchases_lag12            172917
active_months_lag12                12
category_4                          2
city_id                           271
state_id                           25
category_2                          6
dtype: int64

Missing values by features:

merchant_id                        0
merchant_group_id                  0
merchant_category_id               0
subsector_id                       0
numerical_1                        0
numerical_2                        0
category_1                         0
most_recent_sales_range            0
most_recent_purchases_range        0
avg_sales_lag3                    13
avg_purchases_lag3                 0
active_months_lag3                 0
avg_sales_lag6                    13
avg_purchases_lag6                 0
active_months_lag6                 0
avg_sales_lag12                   13
avg_purchases_lag12                0
active_months_lag12                0
category_4                         0
city_id                            0
state_id                           0
category_2                     11887
dtype: int64

We can see that there are:
- 6 features type ID: *merchant_id*, *merchant_group_id*, *merchant_category_id*, *subsector_id*, *city_id*, *state_id*
- 3 features type integer/counter: *active_months_lag3*, *active_months_lag6*, *active_months_lag12*
- 8 feature type numerical: *numerical_1*, *numerical_2*, *avg_sales_lag3*, *avg_purchases_lag3*, *avg_sales_lag6*, *avg_purchases_lag6*, *avg_sales_lag12*, *avg_purchases_lag12*
- 5 features type categorical: *category_1*, *most_recent_sales_range*, *most_recent_purchases_range*, *category_4*,*category_4*

Let's see basic statistics of numerical features and levels distribution of categorical.

In [4]:
merchants[["active_months_lag3","active_months_lag6","active_months_lag12","numerical_1","numerical_2",
          "avg_sales_lag3","avg_purchases_lag3","avg_sales_lag6","avg_purchases_lag6","avg_sales_lag12",
          "avg_purchases_lag12"]].describe()
merchants.groupby("most_recent_sales_range").size()
merchants.groupby("most_recent_purchases_range").size()
merchants.groupby("category_1").size()
merchants.groupby("category_2").size()
merchants.groupby("category_4").size()

,active_months_lag3,active_months_lag6,active_months_lag12,numerical_1,numerical_2,avg_sales_lag3,avg_purchases_lag3,avg_sales_lag6,avg_purchases_lag6,avg_sales_lag12,avg_purchases_lag12
count,334696.000000,334696.000000,334696.000000,334696.000000,334696.000000,334683.000000,3.346960e+05,3.346830e+05,3.346960e+05,3.346830e+05,3.346960e+05
mean,2.994108,5.947397,11.599335,0.011476,0.008103,13.832993,inf,2.165079e+01,inf,2.522771e+01,inf
std,0.095247,0.394936,1.520138,1.098154,1.070497,2395.489999,NaN,3.947108e+03,NaN,5.251842e+03,NaN
min,1.000000,1.000000,1.000000,-0.057471,-0.057471,-82.130000,3.334953e-01,-8.213000e+01,1.670447e-01,-8.213000e+01,9.832954e-02
25%,3.000000,6.000000,12.000000,-0.057471,-0.057471,0.880000,9.236499e-01,8.500000e-01,9.022475e-01,8.500000e-01,8.983333e-01
50%,3.000000,6.000000,12.000000,-0.057471,-0.057471,1.000000,1.016667e+00,1.010000e+00,1.026961e+00,1.020000e+00,1.043361e+00
75%,3.000000,6.000000,12.000000,-0.047556,-0.047556,1.160000,1.146522e+00,1.230000e+00,1.215575e+00,1.290000e+00,1.266480e+00
max,3.000000,6.000000,12.000000,183.735111,182.079322,851844.640000,inf,1.513959e+06,inf,2.567408e+06,inf

most_recent_sales_range
A      1005
B      5037
C     34075
D    117475
E    177104
dtype: int64

most_recent_purchases_range
A      1010
B      5046
C     34144
D    119187
E    175309
dtype: int64

category_1
N    327657
Y      7039
dtype: int64

category_2
1.0    160888
2.0     20661
3.0     51887
4.0     36450
5.0     52923
dtype: int64

category_4
N    238596
Y     96100
dtype: int64

### historical_transactions.csv

In [5]:
historical_transactions = pd.read_csv('Data/historical_transactions.csv')

In [6]:
print("Nº of observations and features:")
historical_transactions.shape
print("First observations:")
historical_transactions.head()
print("Python features dtypes:")
historical_transactions.dtypes
print("Unique values by features:")
historical_transactions.nunique(dropna=False,axis=0)
print("Missing values by features:")
historical_transactions.isnull().sum(axis=0)

Nº of observations and features:

(29112361, 14)

First observations:

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
1,Y,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
2,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
3,Y,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
4,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37

Python features dtypes:

authorized_flag          object
card_id                  object
city_id                   int64
category_1               object
installments              int64
category_3               object
merchant_category_id      int64
merchant_id              object
month_lag                 int64
purchase_amount         float64
purchase_date            object
category_2              float64
state_id                  int64
subsector_id              int64
dtype: object

Unique values by features:

authorized_flag                2
card_id                   325540
city_id                      308
category_1                     2
installments                  15
category_3                     4
merchant_category_id         327
merchant_id               326312
month_lag                     14
purchase_amount           215014
purchase_date           16395300
category_2                     6
state_id                      25
subsector_id                  41
dtype: int64

Missing values by features:

authorized_flag               0
card_id                       0
city_id                       0
category_1                    0
installments                  0
category_3               178159
merchant_category_id          0
merchant_id              138481
month_lag                     0
purchase_amount               0
purchase_date                 0
category_2              2652864
state_id                      0
subsector_id                  0
dtype: int64

We can see that there are:
- 6 features type ID: *card_id*, *merchant_category_id*, *subsector_id*, *merchant_id*, *city_id*, *state_id*
- 2 features type integer/counter: *month_lag*, *installments*
- 1 feature type numerical: *purchase_amount*
- 1 feature type date: *purchase_date*
- 4 features type categorical: *authorized_flag*, *category_3*, *category_1*, *category_2*

Let's see basic statistics of numerical features and levels distribution of categorical.

In [7]:
historical_transactions[["month_lag","installments","month_lag","installments"]].describe()
historical_transactions.groupby("authorized_flag").size()
historical_transactions.groupby("category_3").size()
historical_transactions.groupby("category_1").size()
historical_transactions.groupby("category_2").size()

          month_lag  installments     month_lag  installments
count  2.911236e+07  2.911236e+07  2.911236e+07  2.911236e+07
mean  -4.487294e+00  6.484954e-01 -4.487294e+00  6.484954e-01
std    3.588800e+00  2.795577e+00  3.588800e+00  2.795577e+00
min   -1.300000e+01 -1.000000e+00 -1.300000e+01 -1.000000e+00
25%   -7.000000e+00  0.000000e+00 -7.000000e+00  0.000000e+00
50%   -4.000000e+00  0.000000e+00 -4.000000e+00  0.000000e+00
75%   -2.000000e+00  1.000000e+00 -2.000000e+00  1.000000e+00
max    0.000000e+00  9.990000e+02  0.000000e+00  9.990000e+02

authorized_flag
N     2516909
Y    26595452
dtype: int64

category_3
A    15411747
B    11677522
C     1844933
dtype: int64

category_1
N    27028332
Y     2084029
dtype: int64

category_2
1.0    15177199
2.0     1026535
3.0     3911795
4.0     2618053
5.0     3725915
dtype: int64

### new_merchant_transactions.csv

In [8]:
new_merchant_transactions = pd.read_csv('Data/new_merchant_transactions.csv')

In [9]:
print("Nº of observations and features:")
new_merchant_transactions.shape
print("First observations:")
new_merchant_transactions.head()
print("Python features dtypes:")
new_merchant_transactions.dtypes
print("Unique values by features:")
new_merchant_transactions.nunique(dropna=False,axis=0)
print("Missing values by features:")
new_merchant_transactions.isnull().sum(axis=0)

Nº of observations and features:

(1963031, 14)

First observations:

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_415bb3a509,107,N,1,B,307,M_ID_b0c793002c,1,-0.557574,2018-03-11 14:57:36,1.0,9,19
1,Y,C_ID_415bb3a509,140,N,1,B,307,M_ID_88920c89e8,1,-0.569580,2018-03-19 18:53:37,1.0,9,19
2,Y,C_ID_415bb3a509,330,N,1,B,507,M_ID_ad5237ef6b,2,-0.551037,2018-04-26 14:08:44,1.0,9,14
3,Y,C_ID_415bb3a509,-1,Y,1,B,661,M_ID_9e84cda3b1,1,-0.671925,2018-03-07 09:43:21,NaN,-1,8
4,Y,C_ID_ef55cf8d4b,-1,Y,1,B,166,M_ID_3c86fa3831,1,-0.659904,2018-03-22 21:07:53,NaN,-1,29

Python features dtypes:

authorized_flag          object
card_id                  object
city_id                   int64
category_1               object
installments              int64
category_3               object
merchant_category_id      int64
merchant_id              object
month_lag                 int64
purchase_amount         float64
purchase_date            object
category_2              float64
state_id                  int64
subsector_id              int64
dtype: object

Unique values by features:

authorized_flag               1
card_id                  290001
city_id                     308
category_1                    2
installments                 15
category_3                    4
merchant_category_id        314
merchant_id              226130
month_lag                     2
purchase_amount           75190
purchase_date           1667025
category_2                    6
state_id                     25
subsector_id                 41
dtype: int64

Missing values by features:

authorized_flag              0
card_id                      0
city_id                      0
category_1                   0
installments                 0
category_3               55922
merchant_category_id         0
merchant_id              26216
month_lag                    0
purchase_amount              0
purchase_date                0
category_2              111745
state_id                     0
subsector_id                 0
dtype: int64

We can see that there are:
- 6 features type ID: *card_id*, *merchant_category_id*, *subsector_id*, *merchant_id*, *city_id*, *state_id*
- 2 features type integer/counter: *month_lag*, *installments*
- 1 feature type numerical: *purchase_amount*
- 1 feature type date: *purchase_date*
- 4 features type categorical: *authorized_flag*, *category_3*, *category_1*, *category_2*

Let's see basic statistics of numerical features and levels distribution of categorical.

In [10]:
new_merchant_transactions[["month_lag","installments","purchase_amount"]].describe()
new_merchant_transactions.groupby("category_1").size()
new_merchant_transactions.groupby("category_2").size()
new_merchant_transactions.groupby("category_3").size()
new_merchant_transactions.groupby("authorized_flag").size()

          month_lag  installments  purchase_amount
count  1.963031e+06  1.963031e+06     1.963031e+06
mean   1.476515e+00  6.829643e-01    -5.509690e-01
std    4.994483e-01  1.584069e+00     6.940043e-01
min    1.000000e+00 -1.000000e+00    -7.468928e-01
25%    1.000000e+00  0.000000e+00    -7.166294e-01
50%    1.000000e+00  1.000000e+00    -6.748406e-01
75%    2.000000e+00  1.000000e+00    -5.816162e-01
max    2.000000e+00  9.990000e+02     2.631575e+02

category_1
N    1899935
Y      63096
dtype: int64

category_2
1.0    1058242
2.0      65663
3.0     289525
4.0     178590
5.0     259266
dtype: int64

category_3
A    922244
B    836178
C    148687
dtype: int64

authorized_flag
Y    1963031
dtype: int64

### train.csv

In [11]:
train = pd.read_csv('Data/train.csv')

In [12]:
print("Nº of observations and features:")
train.shape
print("First observations:")
train.head()
print("Python features dtypes:")
train.dtypes
print("Unique values by features:")
train.nunique(dropna=False,axis=0)
print("Missing values by features:")
train.isnull().sum(axis=0)

Nº of observations and features:

(201917, 6)

First observations:

,first_active_month,card_id,feature_1,feature_2,feature_3,target
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749

Python features dtypes:

first_active_month     object
card_id                object
feature_1               int64
feature_2               int64
feature_3               int64
target                float64
dtype: object

Unique values by features:

first_active_month        75
card_id               201917
feature_1                  5
feature_2                  3
feature_3                  2
target                197110
dtype: int64

Missing values by features:

first_active_month    0
card_id               0
feature_1             0
feature_2             0
feature_3             0
target                0
dtype: int64

We can see that there are:
- 1 feature type ID: *card_id*
- 2 feature type numerical: *target*
- 1 feature type date: *first_active_month*
- 3 features type categorical: *feature_1*, *feature_2*, *feature_3*

Let's see basic statistics of numerical features and levels distribution of categorical.

In [13]:
train[["target"]].describe()
train.groupby("feature_1").size()
train.groupby("feature_2").size()
train.groupby("feature_3").size()

              target
count  201917.000000
mean       -0.393636
std         3.850500
min       -33.219281
25%        -0.883110
50%        -0.023437
75%         0.765453
max        17.965068

feature_1
1    12037
2    55797
3    73573
4    19885
5    40625
dtype: int64

feature_2
1    89242
2    74839
3    37836
dtype: int64

feature_3
0     87719
1    114198
dtype: int64

### test.csv

In [14]:
test = pd.read_csv('Data/test.csv')

In [15]:
print("Nº of observations and features:")
test.shape
print("First observations:")
test.head()
print("Python features dtypes:")
test.dtypes
print("Unique values by features:")
test.nunique(dropna=False,axis=0)
print("Missing values by features:")
test.isnull().sum(axis=0)

Nº of observations and features:

(123623, 5)

First observations:

  first_active_month          card_id  feature_1  feature_2  feature_3
0            2017-04  C_ID_0ab67a22ab          3          3          1
1            2017-01  C_ID_130fd0cbdd          2          3          0
2            2017-08  C_ID_b709037bc5          5          1          1
3            2017-12  C_ID_d27d835a9f          2          1          0
4            2015-12  C_ID_2b5e3df5c2          5          1          1

Python features dtypes:

first_active_month    object
card_id               object
feature_1              int64
feature_2              int64
feature_3              int64
dtype: object

Unique values by features:

first_active_month        76
card_id               123623
feature_1                  5
feature_2                  3
feature_3                  2
dtype: int64

Missing values by features:

first_active_month    1
card_id               0
feature_1             0
feature_2             0
feature_3             0
dtype: int64

We can see that there are:
- 1 feature type ID: *card_id*
- 1 feature type date: *first_active_month*
- 3 features type categorical: *feature_1*, *feature_2*, *feature_3*

Let's see basic statistics of numerical features and levels distribution of categorical.

In [16]:
test.groupby("feature_1").size()
test.groupby("feature_2").size()
test.groupby("feature_3").size()

feature_1
1     7406
2    34115
3    44719
4    12332
5    25051
dtype: int64

feature_2
1    54775
2    45993
3    22855
dtype: int64

feature_3
0    53853
1    69770
dtype: int64

### Exploring the connections between datasets

In [17]:
def isin(a,b):
    From = pd.DataFrame(a)
    To = pd.DataFrame(b)
    return(np.mean(From[0].isin(To[0])))

#### 1. train.csv with the rest

1.1. % of unique credit cards from *train.csv* in *test.csv*

In [18]:
isin(train["card_id"].unique(),test["card_id"].unique())

0.0

1.2. % of unique credit cards from *train.csv* in *historical_transactions.csv*

In [19]:
isin(train["card_id"].unique(),historical_transactions["card_id"].unique())

1.0

1.3. % of unique credit cards from *train.csv* in *new_merchant_transactions.csv*

In [20]:
isin(train["card_id"].unique(),new_merchant_transactions["card_id"].unique())

0.8913860645710862

#### 2. test.csv with the rest

2.1. % of unique credit cards from *test.csv* in *train.csv*

In [21]:
isin(test["card_id"].unique(),train["card_id"].unique())

0.0

2.2. % of unique credit cards from *test.csv* in *historical_transactions.csv*

In [22]:
isin(test["card_id"].unique(),historical_transactions["card_id"].unique())

1.0

2.3. % of unique credit cards from *test.csv* in *new_merchant_transactions.csv*

In [23]:
isin(test["card_id"].unique(),new_merchant_transactions["card_id"].unique())

0.8899233961317877

#### 3. historical_transactions.csv with the rest

3.1. % of unique credit cards from *historical_transactions.csv* in *train.csv*

In [24]:
isin(historical_transactions["card_id"].unique(),train["card_id"].unique())

0.620252503532592

3.2. % of unique credit cards from *historical_transactions.csv* in *test.csv*

In [25]:
isin(historical_transactions["card_id"].unique(),test["card_id"].unique())

0.379747496467408

3.3. % of unique credit cards from *historical_transactions.csv* in *new_merchant_transactions.csv*

In [26]:
isin(historical_transactions["card_id"].unique(),new_merchant_transactions["card_id"].unique())

0.8908306198931006

3.4. % of unique merchants from *historical_transactions.csv* in *merchants.csv*

In [27]:
isin(historical_transactions["merchant_id"].unique(),merchants["merchant_id"].unique())

0.9999969354482826

#### 4. new_merchant_transactions.csv with the rest

4.1. % of unique credit cards from *new_merchant_transactions.csv* in *train.csv*

In [28]:
isin(new_merchant_transactions["card_id"].unique(),train["card_id"].unique())

0.6206392391750374

4.2. % of unique credit cards from *new_merchant_transactions.csv* in *test.csv*

In [29]:
isin(new_merchant_transactions["card_id"].unique(),test["card_id"].unique())

0.3793607608249627

4.3. % of unique credit cards from *new_merchant_transactions.csv* in *historical_transactions.csv*

In [30]:
isin(new_merchant_transactions["card_id"].unique(),historical_transactions["card_id"].unique())

1.0

4.4. % of unique merchants from *new_merchant_transactions.csv* in *merchants.csv*

In [31]:
isin(new_merchant_transactions["merchant_id"].unique(),merchants["merchant_id"].unique())

0.9999955777650025

#### 5. merchants.csv with the rest

5.1. % of unique merchants from *merchants.csv* in *historical_transactions.csv*

In [32]:
isin(merchants["merchant_id"].unique(),historical_transactions["merchant_id"].unique())

0.9751309643699216

5.2. % of unique merchants from *merchants.csv* in *new_merchant_transactions.csv*

In [33]:
isin(merchants["merchant_id"].unique(),new_merchant_transactions["merchant_id"].unique())

0.6757522420084092

### Duplicated IDs in merchants.csv

Number of duplicates in *merchants.csv* using all features

In [34]:
tmp = merchants.drop_duplicates()
merchants.shape[0]-tmp.shape[0]

0

Number of duplicates in *merchants.csv* using the ID features *merchant_id*, *merchant_category_id*, *subsector_id*

In [35]:
tmp = merchants.drop_duplicates(subset=["merchant_id","merchant_category_id","subsector_id"])
merchants.shape[0]-tmp.shape[0]

62

Number of duplicates in *merchants.csv* using only ID feature *merchant_id*

In [36]:
tmp = merchants.drop_duplicates(subset="merchant_id")
merchants.shape[0]-tmp.shape[0]

63

Number of duplicates in *merchants.csv* using all ID features *merchant_id*, *merchant_group_id*, *merchant_category_id*, *subsector_id*, *city_id",*state_id*

In [37]:
tmp = merchants.drop_duplicates(subset=["merchant_id","merchant_group_id","merchant_category_id",
                                        "subsector_id","city_id","state_id"])
merchants.shape[0]-tmp.shape[0]

51

Number of duplicates in *merchants.csv* using the ID features *merchant_id*, *merchant_group_id*, *merchant_category_id*, *subsector_id*

In [38]:
tmp = merchants.drop_duplicates(subset=["merchant_id","merchant_group_id","merchant_category_id",
                                        "subsector_id"])
merchants.shape[0]-tmp.shape[0]

51

Number of duplicates in *merchants.csv* using the ID features *merchant_id*, *merchant_category_id*, *subsector_id*, *city_id*, *state_id*

In [39]:
tmp = merchants.drop_duplicates(subset=["merchant_id","merchant_category_id","subsector_id","city_id",
                                        "state_id"])
merchants.shape[0]-tmp.shape[0]

62

Study if for the first merchants in *merchants.csv* the secondary ID features (*merchant_id*, *merchant_category_id* , *subsector_id*, *city_id*, *state_id*) have different values than in *new_merchant_transactions.csv* and *historical_transactions.csv* .

In [40]:
IDs = ["merchant_id","merchant_category_id","subsector_id","city_id","state_id"]
for i in np.unique(merchants["merchant_id"])[1:5]:
    print("\n New merchant:")
    if np.isin(i,new_merchant_transactions["merchant_id"]):
        merchants.loc[merchants["merchant_id"]==i,IDs]
        new_merchant_transactions.loc[new_merchant_transactions["merchant_id"]==i,IDs].drop_duplicates()
    elif np.isin(i,historical_transactions["merchant_id"]):
        merchants.loc[merchants["merchant_id"]==i,IDs]
        historical_transactions.loc[historical_transactions["merchant_id"]==i,IDs].drop_duplicates()

 New merchant:

            merchant_id  merchant_category_id  subsector_id  city_id  state_id
278063  M_ID_0000699140                    87            27       48         9

            merchant_id  merchant_category_id  subsector_id  city_id  state_id
433258  M_ID_0000699140                    87            27       48         9

 New merchant:

           merchant_id  merchant_category_id  subsector_id  city_id  state_id
18699  M_ID_00006a5552                   178            29       64        15

,merchant_id,merchant_category_id,subsector_id,city_id,state_id
22279123,M_ID_00006a5552,178,29,64,15

 New merchant:

            merchant_id  merchant_category_id  subsector_id  city_id  state_id
180697  M_ID_000087311e                   206             1       -1        -1

,merchant_id,merchant_category_id,subsector_id,city_id,state_id
1258821,M_ID_000087311e,206,1,271,9

 New merchant:

            merchant_id  merchant_category_id  subsector_id  city_id  state_id
237296  M_ID_0000ab0b2d                   367            16       -1         9

            merchant_id  merchant_category_id  subsector_id  city_id  state_id
516282  M_ID_0000ab0b2d                   506            30       19         9